.about {
background-image: url("../../dist/images/galaxy-large.jpg");
background-size: cover;
background-position: top center;
background-attachment: fixed;
background-repeat: repeat;
margin: 0;
height: 2000px;
width: 100%;
background-color: $opaqueBlack;
background-blend-mode: hard-light;
@include transition(5s ease);
}

//====================================================================
//  T I T L E  /  L E V E L
//====================================================================
.about__level {
  @include level_fonts;
  color: $nudeColor;
  @include transform(translate(-10px, 180px));
}

.about__title {
  @include about_title;
  opacity: 0.8;
}

.about__title-two {
  @include about_title;
  opacity: 0.6;
}

.about__title-three {
  @include about_title;
  opacity: 0.4;
}

.about__title-four {
  @include about_title;
  opacity: 0.2;
}

.about__title-five {
  @include about_title;
  opacity: 0.1;
}


//====================================================================
//  P I C T U R E
//====================================================================
.about__window-box {
  @include absolute_position_center;
  width: 250px;
  @include transform(translateY(-45px));
}

.about__window-box--photo {
  width: 95px;
  z-index: 0;
  @include absolute_position_center;
  @include transform(translate(5px, 380px));
  @include filter(brightness(0.7) contrast(130%));
}


.about__window-box--blinders {
  width: 111px;
  height: 150px;
  @include absolute_position_center;
  @include transform(translateY(330px));
  list-style: none;
  font-family: $titleFont;
  color: $blueColor;
  font-size: 1em;
}

.about__window-box--blinders-each {
  background-color: $opaqueBlack;
  width: 111px;
  height: 26.67px;
  @include transform(translateX(-35px) rotateX(65deg));
  @include transformOrigin(top);
}


//====================================================================
//  P R O F I L E    D E S C R I P T I O N
//====================================================================
.about__profile {
  @include about_subbox_main;
  @include transform(translateY(990px));
  @include about_subbox_size-one;
}

.about__profile::before {
  @include about_subbox_right;
  top: 0;
  left: 40%;
  @include about_subbox_size-one;
}

.about__profile::after {
  @include about_subbox_left;
  top: 0;
  left: -70%;
  @include about_subbox_size-one;
}

.about__sub-one {
  @include about_subbox_number;
  @include transform(translate(-140px, 920px));
}

.about__sub-two {
  @include about_subbox_number;
  @include transform(translate(140px, 980px));
}

.about__skills {
  @include about_subbox_main;
  @include transform(translateY(1050px));
  @include about_subbox_size-two;
}

.about__skills::before {
  @include about_subbox_right;
  top: 0;
  left: 40%;
  @include about_subbox_size-two;
}

.about__skills::after {
  @include about_subbox_left;
  top: 0;
  left: -70%;
  @include about_subbox_size-two;
}




//====================================================================
//  B A C K G R O U N D   T R A N S I T I O N
//====================================================================
.about__transition {
  position: absolute;
  width: 100%;
  height:200px;
  background-color: $nudeColor;
  @include transform(skewY(5deg) translateY(1600px));
}
