.about {
background-image: url("../../dist/images/galaxy-large.jpg");
background-size: cover;
background-position: top center;
background-attachment: fixed;
background-repeat: repeat;
margin: 0;
height: 1500px;
width: 100%;
background-color: $opaqueBlack;
background-blend-mode: hard-light;
@include transition(5s ease);
}

.about__level {
  @include level_fonts;
  color: $nudeColor;
  @include transform(translate(-10px, 160px));
}

.about__title {
  @include title_fonts;
  @include transform(translate(40px, 500px));
}

.about__window-box {
  width: 95px;
  z-index: 0;
  @include absolute_position_center;
  @include transform(translate(5px, 370px));
  @include filter(brightness(0.7) contrast(110%));
}
