.about {
background-image: url("../../dist/images/galaxy-large.jpg");
background-size: cover;
background-position: top center;
background-attachment: fixed;
background-repeat: repeat;
margin: 0;
height: 2200px;
width: 100%;
background-color: $opaqueBlack;
background-blend-mode: hard-light;
@include transition(5s ease);
}

//====================================================================
//  T I T L E  /  L E V E L
//====================================================================
.about__level {
  @include level_fonts;
  color: $nudeColorDarker;
  @include transform(translate(-10px, 180px));
}

.about__title {
  @include about_title;
  opacity: 0.8;
}

.about__title-two {
  @include about_title;
  opacity: 0.6;
}

.about__title-three {
  @include about_title;
  opacity: 0.4;
}

.about__title-four {
  @include about_title;
  opacity: 0.2;
}

.about__title-five {
  @include about_title;
  opacity: 0.1;
}


//====================================================================
//  P I C T U R E
//====================================================================
.about__window-box {
  @include absolute_position_center;
  width: 250px;
  @include transform(translate(-5px, -45px));
}

.about__window-box--photo {
  width: 95px;
  z-index: 0;
  @include absolute_position_center;
  @include transform(translate(5px, 390px));
  @include filter(brightness(0.7) contrast(130%));
}


.about__window-box--blinders {
  width: 95px;
  height: 147px;
  @include absolute_position_center;
  @include transform(translate(-4px, 332.9px));
  list-style: none;
}

.about__window-box--blinders-each {
  background-color: $greyColor;
  width: 103px;
  height: 26px;
  @include transform(translateX(-34px) rotateX(95deg));
  @include transformOrigin(top);
}


//====================================================================
//  P R O F I L E    D E S C R I P T I O N
//====================================================================
.about__profile {
  height: 300px;
  @include about_subbox_main;
  @include transform(skew(10deg) translate(-160px ,990px));
}

.about__profile::before {
  @include about_subbox_main-before;
  @include transform(skew(25deg) rotate(15deg) translate(-18px, 5px));
  content: '';
  height: 290px;
}

.about__profile span {
  color:$titleColor;
  font-family: $titleFont;
  font-size: 0.8em;
  @include transform(skew(-10deg));
  display: block;
  padding-top: 70px;
  padding-left: 50px;
  padding-right: 20px;
  line-height: 30px;
  letter-spacing: 3px;
}

.about__skills {
  height: 380px;
  padding: 10px;
  @include about_subbox_main;
  @include transform(skew(10deg) translate(-160px ,1050px));
}

.about__skills::before {
  @include about_subbox_main-before;
  @include transform(skew(-35deg) rotate(-15deg) translate(-18px, 25px));
  content: '';
  height: 290px;
}

.about__sub-one {
  @include about_subbox_number;
  @include transform(translate(-120px, 920px));
}

.about__sub-two {
  @include about_subbox_number;
  @include transform(translate(140px, 980px));
}

.skillSets {
  width:70px;
  padding: 12px;
  @include transform(skew(-10deg));
}


//====================================================================
//  B A C K G R O U N D   T R A N S I T I O N
//====================================================================
.about__transition {
  position: absolute;
  width: 100%;
  height:300px;
  background-color: $nudeThreeColor;
  @include transform(skewY(5deg) translateY(1400px));
}
