//=====================================================================
//  C O N T A I N E R
//=====================================================================
.contact {
  position: relative;
  background-color: $nudeTwoColor;
  height: 830px;
  width: 100%;
}

.contact__box {
  @include absolute_position_center;
  width: 350px;
  background-color: $nudeThreeColor;
  border-width: 0.5px;
  border-style: solid;
  border-color: $greyColor;
  @include transform(translateY(290px));
  @include box-shadow($insetShadow);
  height: 400px;
  @include filter($svgShadowTwo);
}


//=====================================================================
//  P A P E R
//=====================================================================
.contact__paper{
  list-style: none;
  width: 300px;
  @include absolute_position_center;
  @include transform(translate(170px, 630px));
  z-index: 3;
  @include filter($svgShadowTwo);
}

.contact__paper--total {
  width: 100px;
  height: 80px;
  background-color: $greyColor;
  opacity: 0.3;
  margin: -109px;
  @include transform(skew(60deg,-20deg));
}

//=====================================================================
//  Y E L L O W   N U M B E R
//=====================================================================
.contact__level {
  @include level_fonts;
  @include transform(translate(247px, 240px));
  color: $nudeColorDarker;
}

//=====================================================================
//  E M A I L
//=====================================================================
.contact__email {
  color: $greyColor;
  font-family: $titleFont;
  @include absolute_position_center;
  width: 320px;
  height: 40px;
  text-shadow: $textShadowTwo;
  font-size: 0.8em;
  letter-spacing: 4px;
  background-color: $nudeTwoColor;
  border-width: 0.5px;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  padding: 11px;
  @include transform(translateY(650px));
  z-index: 4;
  @include filter($svgShadowTwo);
}


//=====================================================================
//  'C O N T A C T'   T E X T   S V G
//=====================================================================
.contact__text {
  width: 300px;
  @include absolute_position_center;
  z-index: 3;
  @include transform(translate(-80px, 8px) rotate(15deg));
  @include filter($svgShadowTwo);
}


//=====================================================================
//  M O O N   S V G
//=====================================================================
.contact__moon {
  @include absolute_position_center;
  z-index: 3;
  width: 90px;
  @include transform(translateY(450px));
  @include filter($svgShadowTwo brightness(0.9) contrast(130%));
  opacity: 0.8;
}
