//=====================================================================
//  C O N T A I N E R
//=====================================================================
.gallery {
  margin: 0;
  height: $containerHeight;
  background-color: $nudeColor;
  width: 100%;
  position: relative;
}

//=====================================================================
//  T E X T S  (title etc)
//=====================================================================
.gallery__title {
  @include title_fonts;
  @include transform(translate(12px, 590px));
}

.gallery__level {
  @include level_fonts;
  color: $opaqueBlue;
  @include transform(translate(-10px, 570px));
}
