//=====================================================================
//  C O N T A I N E R
//=====================================================================
.header {
  background-color: $nudeColorDarker;
  width: 100%;
  height: $containerHeight;
  position: relative;
  @include mQ($smallScreen) {
    height: 500px;
  }
}

//=====================================================================
//  L O G O
//=====================================================================
.header__logo {
  @include relative_position_center;
  @include filter ($svgShadowTwo);
  width: 80px;
  padding: 10px;
  z-index: 3;
  @include mQ($smallScreen) {
    width: 60px;
  }
}

//=====================================================================
//  H O U S E
//=====================================================================
.header__house {
  @include transform(translate(5px, 80px));
  width: 100%;
  margin: auto;
  display: block;
  z-index: 3;
  @include absolute_position_center;
  @include mQ($smallScreen) {
    @include transform(translate(5px, -5px));
  }
}

.header__house--total {
  width: 400px;
  @include absolute_position_center;
  margin: auto;
  display: block;
}

.header__house--frame{
  @include transform(translateY(60px));
  width: 170px;
  @include box-shadow($insetShadow);
  @include filter($svgShadowTwo);
  @include mQ($smallScreen) {
    @include transform(translateY(34px));
    width: 127.75px;
  }
}

.header__house--frame-box{
  @include transform(translateY(60px));
  width: 200px;
  height: 250px;
  @include box-shadow($insetShadow);
  @include mQ($smallScreen) {
    @include transform(translateY(33.5px));
    width: 150px;
    height: 190px;
  }
}

.header__house--frame-boxTwo{
  @include transform(translateY(60px));
  width: 232px;
  height: 266px;
  @include box-shadow($insetShadow);
  @include mQ($smallScreen) {
    @include transform(translateY(33.5px));
    width: 174px;
    height: 211.5px;
  }
}

.header__house--main {
  width: 270px;
  @include filter($svgShadow);
  @include mQ($smallScreen) {
    width: 202.5px;
  }
}

.header__house--roof {
  width: 270px;
  @include filter($svgShadowTwo);
  @include mQ($smallScreen) {
    width: 202.5px;
  }
}

.header__house--window-left {
  @include transform(translate(-26px, 122px));
  width: $windowSize;
  z-index: 2;
  @include mQ($smallScreen) {
    width: 39.6px;
    @include transform(translate(-20.5px, 80px));
  }
}

.header__house--window-right {
  @include transform(translate(26px, 122px));
  width: $windowSize;
  z-index: 2;
  @include mQ($smallScreen) {
    width: 39.6px;
    @include transform(translate(19.40px, 80px));
  }
}

//====================================================================
//  T E X T
//====================================================================
.header__level {
  @include level_fonts;
  @include transform(translate(8px, 60px));
  color: $nudeColor;
  @include mQ($smallScreen) {
    @include transform(translate(30px, -25px));
  }
}

.header__title--name {
  @include title_fonts;
  color: $tintedColor;
  opacity: 0.8;
  @include transform(translateY(380px)rotateY(0));
  z-index: 0;
  @include absolute_position_center;
  width: 100%;
  text-align: center;
  padding: 20px;
  z-index: 1;
  @include mQ($smallScreen) {
    font-size: 1.5em;
    @include transform(translateY(220px)rotateY(0));
  }
}

//====================================================================
//  B A C K G R O U N D   T R A N S I T I O N
//====================================================================
.header__transition {
  position: absolute;
  width: 100%;
  height:25vw;
  background-color: $nudeColorDarker;
  left: 0;
  bottom: -140px;
  @include transform(skewY(-8deg));
}
