//=====================================================================
//  C O N T A I N E R
//=====================================================================
.header {
  background-color: $blueColor;
  width: 100%;
  height: $containerHeight;
}

//=====================================================================
//  L O G O
//=====================================================================
.header__logo {
  @include relative_position_center;
  @include filter ($svgShadowTwo);
  width: 80px;
  padding: 10px;
  z-index: 3;
}

//=====================================================================
//  H O U S E
//=====================================================================
.header__house {
  @include transform(translate(5px, 80px));
  width: 100%;
  margin: auto;
  display: block;
  z-index: 3;
  @include absolute_position_center;
}

.header__house--total {
  width: 400px;
  @include absolute_position_center;
  margin: auto;
  display: block;
}

.header__house--frame{
  @include transform(translateY(60px));
  width: 170px;
  @include box-shadow($insetShadow);
  @include filter($svgShadowTwo);
}

.header__house--frame-box{
  @include transform(translateY(60px));
  width: 200px;
  height: 250px;
  @include box-shadow($insetShadow);
}

.header__house--frame-boxTwo{
  @include transform(translateY(60px));
  width: 232px;
  height: 266px;
  @include box-shadow($insetShadow);
}

.header__house--main {
  width: 270px;
  @include filter($svgShadow);
}

.header__house--roof {
  width: 270px;
  @include filter($svgShadowTwo);
}

.header__house--window-left {
  @include transform(translate(-26px, 122px));
  width: $windowSize;
}

.header__house--window-right {
  @include transform(translate(26px, 122px));
  width: $windowSize;
}

//====================================================================
//  T E X T
//====================================================================
.header__level {
  @include level_fonts;
  @include transform(translate(8px, 60px));
  color: $superYellowColor;
}

.header__title--name {
  @include title_fonts;
  color: $titleColor;
  opacity: 0.8;
  @include transform(translateY(380px));
  z-index: 0;
  @include absolute_position_center;
  width: 100%;
  text-align: center;
  padding: 20px;
}

//====================================================================
//  B A C K G R O U N D   T R A N S I T I O N
//====================================================================
.header__transition {
  position: absolute;
  width: 100%;
  height:200px;
  background-color: $blueColor;
  @include transform(skewY(-8deg) translateY(700px));
}
