.header {
  background-color: darkgrey;
  width: 100%;
  height: $containerHeight;
}

.header__logo {
  @include relative_position_center;
  width: 80px;
  padding: 10px;
  @include logo_flag;
  z-index: 1;
  @include delay(0.7s);
}


//  HOUSE  //
.header__house {
  @include transform(translate(5px, 80px));
}


.header__house--total {
  @include absolute_position_center;
  z-index: 1;
}

.header__house--frame{
  @include transform(translateY(60px));
  width: 170px;
  @include box-shadow($insetShadow);
}

.header__house--main {
  width: 270px;
  @include filter($svgShadow);
}

.header__house--roof {
  width: 270px;
}

.header__house--window-left {
  @include transform(translate(-26px, 122px));
  width: $windowSize;
}

.header__house--window-right {
  @include transform(translate(26px, 122px));
  width: $windowSize;
}

//  Text  //
.header__level {
  @include level_fonts;
  @include transform(translate(8px, 60px))

}

.header__title--name {
  @include title_fonts;
  @include transform(translate(25px, 400px));
}
