////////////////////////////////
//   Other Mixin SCSS File   //
//////////////////////////////

////////////////
//  WEBKITS  //

  /////////////////////
  //  1. Transform  //
  @mixin transform($args...) {
    -moz-transform: $args;
    -o-transform: $args;
    -ms-transform: $args;
    -webkit-transform: $args;
    transform: $args;
  }

  @mixin transformOrigin($args...) {
    -moz-transform-origin: $args;
    -o-transform-origin: $args;
    -ms-transform-origin: $args;
    -webkit-transform-origin: $args;
    transform-origin: $args;
  }



  //////////////////////
  //  2. Box-Shadow  //
  //From: https://gist.github.com/johnferrie/3836468
  @mixin box-shadow($shadow){
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow
  }
  // Example:
    // @include box-shadow(2px 2px 6px $color)
    // @include box-shadow(none)


  ////////////////////////
  //  3. Media Queries  //
  //  media queries  //
  @mixin mQ($arg) {
    @media screen and (max-width: $arg) {
      @content;
    }
  }



  //////////////////////
  //  4. Transition  //
  // From: http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/
  @mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
  }

  // Example:
  // @include transition(color .3s ease);



  //////////////////
  //  5. Filter  //
  @mixin filter($args...) {
  -webkit-filter: $args;
  filter: $args;
  }



  ///////////////////////////////
  //  6. Animation Framework  //
  //Reference: https://www.mrpapercut.com/blog/2016-09-26-keyframe-animations-in-sass
  @mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
      @content;
    }
    @-moz-keyframes #{$animationName} {
      @content;
    }
    @-o-keyframes #{$animationName} {
      @content;
    }
    @keyframes #{$animationName} {
      @content;
    }
  }

  @mixin animate($name, $duration, $iteration, $direction, $fill-mode) {
    -webkit-animation-duration: $duration;
       -moz-animation-duration: $duration;
         -ms-animation-duration: $duration;
           -o-animation-duration: $duration;
              animation-duration: $duration;
    -webkit-animation-iteration-count: $iteration;
       -moz-animation-iteration-count: $iteration;
         -ms-animation-iteration-count: $iteration;
           -o-animation-iteration-count: $iteration;
              animation-iteration-count: $iteration;
    -webkit-animation-name: $name;
       -moz-animation-name: $name;
         -ms-animation-name: $name;
           -o-animation-name: $name;
              animation-name: $name;
    -webkit-animation-direction: $direction;
       -moz-animation-direction: $direction;
         -ms-animation-direction: $direction;
           -o-animation-direction: $direction;
              animation-direction: $direction;
    -webkit-animation-fill-mode: $fill-mode;
       -moz-animation-fill-mode: $fill-mode;
         -ms-animation-fill-mode: $fill-mode;
           -o-animation-fill-mode: $fill-mode;
              animation-fill-mode: $fill-mode;
  }


  @mixin delay($delay...) {
    -webkit-animation-delay: $delay;
    -moz-animation-delay: $delay;
    -ms-animation-delay: $delay;
    -o-animation-delay: $delay;
    animation-delay: $delay;
  }



/////////////////
//  POSITION  //
@mixin absolute_position_center {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

@mixin relative_position_center {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

@mixin fixed_position_center {
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

//////////////
//  FONTS  //
@mixin title_fonts {
  color: $titleColor;
  font-family: $titleFont;
  font-size: 2em;
  opacity: 0.8;
  letter-spacing: 3.5px;
  width: 200px;
  text-shadow: $textShadow;
  @include absolute_position_center;
  z-index: 1;
}

@mixin level_fonts {
  color: $numberColor;
  @include absolute_position_center;
  width: 200px;
}

///////////////////
//  BACKGROUND  //
@mixin galaxy {
  background-image: url("../../dist/images/galaxy-large.jpg");
  background-size: cover;
  margin: 0;
}
