//=========================================================================
//   V A R I A B L E   S C S S
//=========================================================================



//---------------  F O N T S
//-----------------------------------------------------------

  //-------------  1. S t y l e  -------------//
    $titleFont: Avantgarde, sans-serif;




  //-------------  2. S i z e s  -------------//
    $containerHeight: 800px;
    $windowSize: 52px;







//----------------  C O L O R
//--------------------------------------------------------------
$titleColor: #f6f6f6;
$opaqueBlack: rgba(0, 0, 0, 0.77);
$opaqueNude: rgba(246,246,246, 0.4);
$opaqueBlue: rgba(41,35,229, 0.5);
$nudeColor:#a88461;
$nudeTwoColor: #9b7c7f;
$nudeThreeColor: #7f5659;
$seaColor: #809e8d;
$peachColor: #ce806c;
$blueColor:#6e869e;
$yellowColor: #e8d48f;
$greyColor: #D3D3D3;
$redColor: #a43026;
$brownColor: #332C2C;



//--------------  S H A D O W
//--------------------------------------------------------------------------
$mainShadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.2), 0 20px 30px 0 rgba(0, 0, 0, 0.19);
$insetShadow: inset 10px 10px 46px -4px rgba(0,0,0,0.75);
$textShadow: 6px 6px 0px rgba(0,0,0,0.2);
$textShadowTwo: 2px 2px 0px rgba(0,0,0,0.2);

    //  ------------  S V G  ------------  //
    $svgShadow: drop-shadow(10px 10px 15px black);
    $svgShadowTwo: drop-shadow(6px 6px 0px rgba(0,0,0,0.2));
