.header {
  background-color: #8298ad;
  width: 100%;
  height: 800px; }

.header__logo {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  -webkit-filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2));
  width: 80px;
  padding: 10px;
  z-index: 3; }

.header__house {
  -moz-transform: translate(5px, 80px);
  -o-transform: translate(5px, 80px);
  -ms-transform: translate(5px, 80px);
  -webkit-transform: translate(5px, 80px);
  transform: translate(5px, 80px);
  width: 100%;
  margin: auto;
  display: block;
  z-index: 3;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }

.header__house--total {
  width: 400px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin: auto;
  display: block; }

.header__house--frame {
  -moz-transform: translateY(60px);
  -o-transform: translateY(60px);
  -ms-transform: translateY(60px);
  -webkit-transform: translateY(60px);
  transform: translateY(60px);
  width: 170px;
  -webkit-box-shadow: inset 10px 10px 46px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 10px 10px 46px -4px rgba(0, 0, 0, 0.75);
  box-shadow: inset 10px 10px 46px -4px rgba(0, 0, 0, 0.75);
  -webkit-filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2)); }

.header__house--frame-box {
  -moz-transform: translateY(60px);
  -o-transform: translateY(60px);
  -ms-transform: translateY(60px);
  -webkit-transform: translateY(60px);
  transform: translateY(60px);
  width: 200px;
  height: 250px;
  -webkit-box-shadow: inset 10px 10px 46px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 10px 10px 46px -4px rgba(0, 0, 0, 0.75);
  box-shadow: inset 10px 10px 46px -4px rgba(0, 0, 0, 0.75); }

.header__house--frame-boxTwo {
  -moz-transform: translateY(60px);
  -o-transform: translateY(60px);
  -ms-transform: translateY(60px);
  -webkit-transform: translateY(60px);
  transform: translateY(60px);
  width: 232px;
  height: 266px;
  -webkit-box-shadow: inset 10px 10px 46px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 10px 10px 46px -4px rgba(0, 0, 0, 0.75);
  box-shadow: inset 10px 10px 46px -4px rgba(0, 0, 0, 0.75); }

.header__house--main {
  width: 270px;
  -webkit-filter: drop-shadow(10px 10px 15px black);
  filter: drop-shadow(10px 10px 15px black); }

.header__house--roof {
  width: 270px;
  -webkit-filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2)); }

.header__house--window-left {
  -moz-transform: translate(-26px, 122px);
  -o-transform: translate(-26px, 122px);
  -ms-transform: translate(-26px, 122px);
  -webkit-transform: translate(-26px, 122px);
  transform: translate(-26px, 122px);
  width: 52px; }

.header__house--window-right {
  -moz-transform: translate(26px, 122px);
  -o-transform: translate(26px, 122px);
  -ms-transform: translate(26px, 122px);
  -webkit-transform: translate(26px, 122px);
  transform: translate(26px, 122px);
  width: 52px; }

.header__level {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  width: 200px;
  -moz-transform: translate(8px, 60px);
  -o-transform: translate(8px, 60px);
  -ms-transform: translate(8px, 60px);
  -webkit-transform: translate(8px, 60px);
  transform: translate(8px, 60px);
  color: #e8d48f; }

.header__title--name {
  font-family: Avantgarde, sans-serif;
  font-size: 2em;
  letter-spacing: 3.5px;
  width: 200px;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
  color: #f6f6f6;
  opacity: 0.8;
  -moz-transform: translateY(380px);
  -o-transform: translateY(380px);
  -ms-transform: translateY(380px);
  -webkit-transform: translateY(380px);
  transform: translateY(380px);
  z-index: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  padding: 20px; }

.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5; }

.nav__button {
  opacity: 0.8;
  width: 0;
  border-style: solid;
  border-width: 0 60px 55px 60px;
  border-color: transparent transparent #809e8d transparent;
  -webkit-filter: drop-shadow(10px 10px 15px black);
  filter: drop-shadow(10px 10px 15px black);
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 0px;
  color: #f6f6f6;
  font-family: Avantgarde, sans-serif;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
  letter-spacing: 2px;
  font-size: 1em;
  -moz-transform: translateX(-200px) rotate(180deg);
  -o-transform: translateX(-200px) rotate(180deg);
  -ms-transform: translateX(-200px) rotate(180deg);
  -webkit-transform: translateX(-200px) rotate(180deg);
  transform: translateX(-200px) rotate(180deg);
  text-align: center;
  z-index: 3; }
  .nav__button:hover {
    cursor: pointer;
    opacity: 1;
    -webkit-filter: drop-shadow(10px 10px 15px black);
    filter: drop-shadow(10px 10px 15px black);
    -moz-transform: translateX(-200px) rotate(180deg) scale(1.1);
    -o-transform: translateX(-200px) rotate(180deg) scale(1.1);
    -ms-transform: translateX(-200px) rotate(180deg) scale(1.1);
    -webkit-transform: translateX(-200px) rotate(180deg) scale(1.1);
    transform: translateX(-200px) rotate(180deg) scale(1.1); }
    .nav__button:hover:hover .nav__button--icon-open {
      text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2); }

.nav__button--icon-open,
.nav__button--icon-close {
  -moz-transform: rotate(180deg) translate(25px, -28px);
  -o-transform: rotate(180deg) translate(25px, -28px);
  -ms-transform: rotate(180deg) translate(25px, -28px);
  -webkit-transform: rotate(180deg) translate(25px, -28px);
  transform: rotate(180deg) translate(25px, -28px);
  position: absolute; }

.nav__button--icon-close {
  display: none; }

.nav__button--icon-close.active {
  display: block; }

.nav__button.notActive {
  border-color: transparent transparent #ce806c transparent; }

.nav__button.active .nav__button--icon-open {
  display: none; }

.nav__list-container {
  height: 800px;
  width: 100%;
  background-color: black;
  color: #f6f6f6;
  font-family: Avantgarde, sans-serif;
  margin: 0;
  font-size: 1.8em;
  opacity: 0.9;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  -moz-transform: translateY(-800px);
  -o-transform: translateY(-800px);
  -ms-transform: translateY(-800px);
  -webkit-transform: translateY(-800px);
  transform: translateY(-800px);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }

.nav__list {
  width: 100%;
  margin: 0;
  text-align: center;
  list-style: none;
  text-align: center;
  padding-left: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  -moz-transform: translateY(150px);
  -o-transform: translateY(150px);
  -ms-transform: translateY(150px);
  -webkit-transform: translateY(150px);
  transform: translateY(150px); }

.nav__list-container.active {
  -webkit-transition: 0.7s ease-in;
  -moz-transition: 0.7s ease-in;
  -ms-transition: 0.7s ease-in;
  -o-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px); }

.nav__list--each {
  padding: 20px;
  width: 100%;
  letter-spacing: 5px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }
  .nav__list--each:hover {
    color: #e8d48f;
    opacity: 1;
    font-size: 2em;
    cursor: pointer; }

.about {
  background-image: url("../../dist/images/galaxy-large.jpg");
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: repeat;
  margin: 0;
  height: 1500px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.77);
  background-blend-mode: hard-light;
  -webkit-transition: 5s ease;
  -moz-transition: 5s ease;
  -ms-transition: 5s ease;
  -o-transition: 5s ease;
  transition: 5s ease; }

.about__level {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  width: 200px;
  color: #a88461;
  -moz-transform: translate(-10px, 160px);
  -o-transform: translate(-10px, 160px);
  -ms-transform: translate(-10px, 160px);
  -webkit-transform: translate(-10px, 160px);
  transform: translate(-10px, 160px); }

.about__title {
  font-family: Avantgarde, sans-serif;
  font-size: 2em;
  letter-spacing: 3.5px;
  width: 200px;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
  color: #a88461;
  -moz-transform: translate(40px, 500px);
  -o-transform: translate(40px, 500px);
  -ms-transform: translate(40px, 500px);
  -webkit-transform: translate(40px, 500px);
  transform: translate(40px, 500px); }

.about__title-two {
  font-family: Avantgarde, sans-serif;
  font-size: 2em;
  letter-spacing: 3.5px;
  width: 200px;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
  color: #a88461;
  -moz-transform: translate(40px, 500px);
  -o-transform: translate(40px, 500px);
  -ms-transform: translate(40px, 500px);
  -webkit-transform: translate(40px, 500px);
  transform: translate(40px, 500px); }

.about__title-three {
  font-family: Avantgarde, sans-serif;
  font-size: 2em;
  letter-spacing: 3.5px;
  width: 200px;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
  color: #a88461;
  -moz-transform: translate(40px, 500px);
  -o-transform: translate(40px, 500px);
  -ms-transform: translate(40px, 500px);
  -webkit-transform: translate(40px, 500px);
  transform: translate(40px, 500px); }

.about__window-box {
  width: 95px;
  z-index: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  -moz-transform: translate(5px, 370px);
  -o-transform: translate(5px, 370px);
  -ms-transform: translate(5px, 370px);
  -webkit-transform: translate(5px, 370px);
  transform: translate(5px, 370px);
  -webkit-filter: brightness(0.7) contrast(110%);
  filter: brightness(0.7) contrast(110%); }

.gallery {
  margin: 0;
  height: 800px;
  background-color: #a88461;
  width: 100%;
  position: relative; }

.gallery__title {
  font-family: Avantgarde, sans-serif;
  font-size: 2em;
  letter-spacing: 3.5px;
  width: 200px;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
  color: #f6f6f6;
  opacity: 0.8;
  -moz-transform: translate(12px, 590px);
  -o-transform: translate(12px, 590px);
  -ms-transform: translate(12px, 590px);
  -webkit-transform: translate(12px, 590px);
  transform: translate(12px, 590px); }

.gallery__level {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  width: 200px;
  color: rgba(41, 35, 229, 0.5);
  -moz-transform: translate(-10px, 570px);
  -o-transform: translate(-10px, 570px);
  -ms-transform: translate(-10px, 570px);
  -webkit-transform: translate(-10px, 570px);
  transform: translate(-10px, 570px); }

.contact {
  position: relative;
  background-color: #a28d8f;
  height: 830px;
  width: 100%; }

.contact__box {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 350px;
  background-color: #988183;
  border-width: 0.5px;
  border-style: solid;
  border-color: #D3D3D3;
  -moz-transform: translateY(290px);
  -o-transform: translateY(290px);
  -ms-transform: translateY(290px);
  -webkit-transform: translateY(290px);
  transform: translateY(290px);
  -webkit-box-shadow: inset 10px 10px 46px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 10px 10px 46px -4px rgba(0, 0, 0, 0.75);
  box-shadow: inset 10px 10px 46px -4px rgba(0, 0, 0, 0.75);
  height: 400px;
  -webkit-filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2)); }

.contact__paper {
  list-style: none;
  width: 300px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  -moz-transform: translate(170px, 630px);
  -o-transform: translate(170px, 630px);
  -ms-transform: translate(170px, 630px);
  -webkit-transform: translate(170px, 630px);
  transform: translate(170px, 630px);
  z-index: 3;
  -webkit-filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2)); }

.contact__paper--total {
  width: 100px;
  height: 80px;
  background-color: #D3D3D3;
  opacity: 0.3;
  margin: -109px;
  -moz-transform: skew(60deg, -20deg);
  -o-transform: skew(60deg, -20deg);
  -ms-transform: skew(60deg, -20deg);
  -webkit-transform: skew(60deg, -20deg);
  transform: skew(60deg, -20deg); }

.contact__level {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  width: 200px;
  -moz-transform: translate(-57px, 280px);
  -o-transform: translate(-57px, 280px);
  -ms-transform: translate(-57px, 280px);
  -webkit-transform: translate(-57px, 280px);
  transform: translate(-57px, 280px);
  color: #e8d48f; }

.contact__email {
  color: #D3D3D3;
  font-family: Avantgarde, sans-serif;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 320px;
  height: 40px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
  font-size: 0.8em;
  letter-spacing: 4px;
  background-color: #a28d8f;
  border-width: 0.5px;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  padding: 11px;
  -moz-transform: translateY(650px);
  -o-transform: translateY(650px);
  -ms-transform: translateY(650px);
  -webkit-transform: translateY(650px);
  transform: translateY(650px);
  z-index: 4;
  -webkit-filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2)); }

.contact__text {
  width: 300px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 3;
  -moz-transform: translate(-80px, 8px) rotate(15deg);
  -o-transform: translate(-80px, 8px) rotate(15deg);
  -ms-transform: translate(-80px, 8px) rotate(15deg);
  -webkit-transform: translate(-80px, 8px) rotate(15deg);
  transform: translate(-80px, 8px) rotate(15deg);
  -webkit-filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2)); }

.contact__moon {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 3;
  width: 90px;
  -moz-transform: translateY(450px);
  -o-transform: translateY(450px);
  -ms-transform: translateY(450px);
  -webkit-transform: translateY(450px);
  transform: translateY(450px);
  -webkit-filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2)) brightness(0.9) contrast(130%);
  filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2)) brightness(0.9) contrast(130%);
  opacity: 0.8; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  overflow-x: hidden; }

.background-ladder {
  background-image: url(../../dist/images/ladder.svg);
  height: 736px;
  width: 10px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  -moz-transform: translate(-2px, -37px);
  -o-transform: translate(-2px, -37px);
  -ms-transform: translate(-2px, -37px);
  -webkit-transform: translate(-2px, -37px);
  transform: translate(-2px, -37px);
  -webkit-filter: brightness(1.5) drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2));
  filter: brightness(1.5) drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2)); }
