@-webkit-keyframes loading {
  from {
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg); }
  to {
    -moz-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg); } }

@-moz-keyframes loading {
  from {
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg); }
  to {
    -moz-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg); } }

@-o-keyframes loading {
  from {
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg); }
  to {
    -moz-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg); } }

@keyframes loading {
  from {
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg); }
  to {
    -moz-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg); } }

#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background-color: #38232a; }

.loader__moon {
  width: 150px;
  -webkit-animation-duration: 1.6s;
  -moz-animation-duration: 1.6s;
  -ms-animation-duration: 1.6s;
  -o-animation-duration: 1.6s;
  animation-duration: 1.6s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: loading;
  -moz-animation-name: loading;
  -ms-animation-name: loading;
  -o-animation-name: loading;
  animation-name: loading;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -ms-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 250px;
  -webkit-filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2)); }
  @media screen and (max-width: 487px) {
    .loader__moon {
      width: 100px;
      margin-top: 100px; } }

.loader__text {
  top: 60%;
  text-align: center;
  display: block;
  font-family: Avantgarde, sans-serif;
  font-size: 3.2em;
  letter-spacing: 10px;
  color: #b7a3a9;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }
  @media screen and (max-width: 487px) {
    .loader__text {
      top: 55%;
      font-size: 2.1em; } }

.header {
  background-color: #634345;
  width: 100%;
  height: 800px; }
  @media screen and (max-width: 487px) {
    .header {
      height: 500px; } }

.header__logo {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  -webkit-filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2));
  width: 80px;
  padding: 10px;
  z-index: 3; }
  @media screen and (max-width: 487px) {
    .header__logo {
      width: 60px; } }

.header__house {
  -moz-transform: translate(5px, 80px);
  -o-transform: translate(5px, 80px);
  -ms-transform: translate(5px, 80px);
  -webkit-transform: translate(5px, 80px);
  transform: translate(5px, 80px);
  width: 100%;
  margin: auto;
  display: block;
  z-index: 3;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }
  @media screen and (max-width: 487px) {
    .header__house {
      -moz-transform: translate(5px, -5px);
      -o-transform: translate(5px, -5px);
      -ms-transform: translate(5px, -5px);
      -webkit-transform: translate(5px, -5px);
      transform: translate(5px, -5px); } }

.header__house--total {
  width: 400px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin: auto;
  display: block; }

.header__house--frame {
  -moz-transform: translateY(60px);
  -o-transform: translateY(60px);
  -ms-transform: translateY(60px);
  -webkit-transform: translateY(60px);
  transform: translateY(60px);
  width: 170px;
  -webkit-box-shadow: inset 10px 10px 46px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 10px 10px 46px -4px rgba(0, 0, 0, 0.75);
  box-shadow: inset 10px 10px 46px -4px rgba(0, 0, 0, 0.75);
  -webkit-filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2)); }
  @media screen and (max-width: 487px) {
    .header__house--frame {
      -moz-transform: translateY(34px);
      -o-transform: translateY(34px);
      -ms-transform: translateY(34px);
      -webkit-transform: translateY(34px);
      transform: translateY(34px);
      width: 127.75px; } }

.header__house--frame-box {
  -moz-transform: translateY(60px);
  -o-transform: translateY(60px);
  -ms-transform: translateY(60px);
  -webkit-transform: translateY(60px);
  transform: translateY(60px);
  width: 200px;
  height: 250px;
  -webkit-box-shadow: inset 10px 10px 46px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 10px 10px 46px -4px rgba(0, 0, 0, 0.75);
  box-shadow: inset 10px 10px 46px -4px rgba(0, 0, 0, 0.75); }
  @media screen and (max-width: 487px) {
    .header__house--frame-box {
      -moz-transform: translateY(33.5px);
      -o-transform: translateY(33.5px);
      -ms-transform: translateY(33.5px);
      -webkit-transform: translateY(33.5px);
      transform: translateY(33.5px);
      width: 150px;
      height: 190px; } }

.header__house--frame-boxTwo {
  -moz-transform: translateY(60px);
  -o-transform: translateY(60px);
  -ms-transform: translateY(60px);
  -webkit-transform: translateY(60px);
  transform: translateY(60px);
  width: 232px;
  height: 266px;
  -webkit-box-shadow: inset 10px 10px 46px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 10px 10px 46px -4px rgba(0, 0, 0, 0.75);
  box-shadow: inset 10px 10px 46px -4px rgba(0, 0, 0, 0.75); }
  @media screen and (max-width: 487px) {
    .header__house--frame-boxTwo {
      -moz-transform: translateY(33.5px);
      -o-transform: translateY(33.5px);
      -ms-transform: translateY(33.5px);
      -webkit-transform: translateY(33.5px);
      transform: translateY(33.5px);
      width: 174px;
      height: 211.5px; } }

.header__house--main {
  width: 270px;
  -webkit-filter: drop-shadow(10px 10px 15px black);
  filter: drop-shadow(10px 10px 15px black); }
  @media screen and (max-width: 487px) {
    .header__house--main {
      width: 202.5px; } }

.header__house--roof {
  width: 270px;
  -webkit-filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2)); }
  @media screen and (max-width: 487px) {
    .header__house--roof {
      width: 202.5px; } }

.header__house--window-left {
  -moz-transform: translate(-26px, 122px);
  -o-transform: translate(-26px, 122px);
  -ms-transform: translate(-26px, 122px);
  -webkit-transform: translate(-26px, 122px);
  transform: translate(-26px, 122px);
  width: 52px;
  z-index: 2; }
  @media screen and (max-width: 487px) {
    .header__house--window-left {
      width: 39.6px;
      -moz-transform: translate(-20.5px, 80px);
      -o-transform: translate(-20.5px, 80px);
      -ms-transform: translate(-20.5px, 80px);
      -webkit-transform: translate(-20.5px, 80px);
      transform: translate(-20.5px, 80px); } }

.header__house--window-right {
  -moz-transform: translate(26px, 122px);
  -o-transform: translate(26px, 122px);
  -ms-transform: translate(26px, 122px);
  -webkit-transform: translate(26px, 122px);
  transform: translate(26px, 122px);
  width: 52px;
  z-index: 2; }
  @media screen and (max-width: 487px) {
    .header__house--window-right {
      width: 39.6px;
      -moz-transform: translate(19.4px, 80px);
      -o-transform: translate(19.4px, 80px);
      -ms-transform: translate(19.4px, 80px);
      -webkit-transform: translate(19.4px, 80px);
      transform: translate(19.4px, 80px); } }

.header__level {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  width: 200px;
  -moz-transform: translate(8px, 60px);
  -o-transform: translate(8px, 60px);
  -ms-transform: translate(8px, 60px);
  -webkit-transform: translate(8px, 60px);
  transform: translate(8px, 60px);
  color: #a88461; }
  @media screen and (max-width: 487px) {
    .header__level {
      -moz-transform: translate(30px, -25px);
      -o-transform: translate(30px, -25px);
      -ms-transform: translate(30px, -25px);
      -webkit-transform: translate(30px, -25px);
      transform: translate(30px, -25px); } }

.header__title--name {
  font-family: Avantgarde, sans-serif;
  font-size: 2em;
  letter-spacing: 3.5px;
  width: 200px;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
  color: #b7a3a9;
  opacity: 0.8;
  -moz-transform: translateY(380px) rotateY(0);
  -o-transform: translateY(380px) rotateY(0);
  -ms-transform: translateY(380px) rotateY(0);
  -webkit-transform: translateY(380px) rotateY(0);
  transform: translateY(380px) rotateY(0);
  z-index: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  z-index: 1; }
  @media screen and (max-width: 487px) {
    .header__title--name {
      font-size: 1.6em; } }
  @media screen and (max-width: 487px) {
    .header__title--name {
      font-size: 1.5em;
      -moz-transform: translateY(220px) rotateY(0);
      -o-transform: translateY(220px) rotateY(0);
      -ms-transform: translateY(220px) rotateY(0);
      -webkit-transform: translateY(220px) rotateY(0);
      transform: translateY(220px) rotateY(0); } }

.header__transition {
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: #634345;
  -moz-transform: skewY(-8deg) translateY(700px);
  -o-transform: skewY(-8deg) translateY(700px);
  -ms-transform: skewY(-8deg) translateY(700px);
  -webkit-transform: skewY(-8deg) translateY(700px);
  transform: skewY(-8deg) translateY(700px); }
  @media screen and (max-width: 487px) {
    .header__transition {
      -moz-transform: skewY(-8deg) translateY(450px);
      -o-transform: skewY(-8deg) translateY(450px);
      -ms-transform: skewY(-8deg) translateY(450px);
      -webkit-transform: skewY(-8deg) translateY(450px);
      transform: skewY(-8deg) translateY(450px); } }

.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5; }

.nav__button {
  opacity: 0.8;
  width: 0;
  border-style: solid;
  border-width: 0 60px 55px 60px;
  border-color: transparent transparent #38232a transparent;
  -webkit-filter: drop-shadow(10px 10px 15px black);
  filter: drop-shadow(10px 10px 15px black);
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 0px;
  color: #f6f6f6;
  font-family: Avantgarde, sans-serif;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
  letter-spacing: 2px;
  font-size: 1em;
  -moz-transform: translateX(-200px) rotate(180deg);
  -o-transform: translateX(-200px) rotate(180deg);
  -ms-transform: translateX(-200px) rotate(180deg);
  -webkit-transform: translateX(-200px) rotate(180deg);
  transform: translateX(-200px) rotate(180deg);
  text-align: center;
  z-index: 3; }
  .nav__button:hover {
    cursor: pointer;
    opacity: 1;
    -webkit-filter: drop-shadow(10px 10px 15px black);
    filter: drop-shadow(10px 10px 15px black); }
  .nav__button:hover .nav__button--icon-open {
    text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 487px) {
    .nav__button {
      -moz-transform: translateX(-120px) rotate(180deg);
      -o-transform: translateX(-120px) rotate(180deg);
      -ms-transform: translateX(-120px) rotate(180deg);
      -webkit-transform: translateX(-120px) rotate(180deg);
      transform: translateX(-120px) rotate(180deg); } }

.nav__button--icon-open,
.nav__button--icon-close {
  -moz-transform: rotate(180deg) translate(25px, -28px);
  -o-transform: rotate(180deg) translate(25px, -28px);
  -ms-transform: rotate(180deg) translate(25px, -28px);
  -webkit-transform: rotate(180deg) translate(25px, -28px);
  transform: rotate(180deg) translate(25px, -28px);
  position: absolute; }

.nav__button--icon-close {
  display: none; }

.nav__button--icon-close.active {
  display: block; }

.nav__button.notActive {
  border-color: transparent transparent #7f5659 transparent; }

.nav__button.active .nav__button--icon-open {
  display: none; }

.nav__list-container {
  height: 800px;
  width: 100%;
  background-color: black;
  color: #f6f6f6;
  font-family: Avantgarde, sans-serif;
  margin: 0;
  font-size: 1.8em;
  opacity: 0.9;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  -moz-transform: translateY(-800px);
  -o-transform: translateY(-800px);
  -ms-transform: translateY(-800px);
  -webkit-transform: translateY(-800px);
  transform: translateY(-800px);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }

.nav__list {
  width: 100%;
  margin: 0;
  text-align: center;
  list-style: none;
  text-align: center;
  padding-left: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  -moz-transform: translateY(150px);
  -o-transform: translateY(150px);
  -ms-transform: translateY(150px);
  -webkit-transform: translateY(150px);
  transform: translateY(150px); }
  @media screen and (max-width: 487px) {
    .nav__list {
      -moz-transform: translateY(80px);
      -o-transform: translateY(80px);
      -ms-transform: translateY(80px);
      -webkit-transform: translateY(80px);
      transform: translateY(80px); } }

.nav__list-container.active {
  -webkit-transition: 0.7s ease-in;
  -moz-transition: 0.7s ease-in;
  -ms-transition: 0.7s ease-in;
  -o-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px); }

.nav__list--each {
  padding: 20px;
  width: 100%;
  letter-spacing: 5px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }
  .nav__list--each:hover {
    color: #a88461;
    opacity: 1;
    font-size: 2em;
    cursor: pointer; }

.about {
  background-image: url("../../dist/images/galaxy-large.jpg");
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: repeat;
  margin: 0;
  height: 2200px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.77);
  background-blend-mode: hard-light;
  -webkit-transition: 5s ease;
  -moz-transition: 5s ease;
  -ms-transition: 5s ease;
  -o-transition: 5s ease;
  transition: 5s ease; }

.about__level {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  width: 200px;
  color: #634345;
  -moz-transform: translate(-10px, 180px);
  -o-transform: translate(-10px, 180px);
  -ms-transform: translate(-10px, 180px);
  -webkit-transform: translate(-10px, 180px);
  transform: translate(-10px, 180px); }
  @media screen and (max-width: 487px) {
    .about__level {
      -moz-transform: translate(-10px, 250px);
      -o-transform: translate(-10px, 250px);
      -ms-transform: translate(-10px, 250px);
      -webkit-transform: translate(-10px, 250px);
      transform: translate(-10px, 250px); } }

.about__title {
  font-family: Avantgarde, sans-serif;
  font-size: 2em;
  letter-spacing: 3.5px;
  width: 200px;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
  color: #634345;
  letter-spacing: 4.2px;
  -moz-transform: translateY(500px) scale(1.5);
  -o-transform: translateY(500px) scale(1.5);
  -ms-transform: translateY(500px) scale(1.5);
  -webkit-transform: translateY(500px) scale(1.5);
  transform: translateY(500px) scale(1.5);
  text-align: center;
  width: 400px;
  opacity: 0.8; }
  @media screen and (max-width: 487px) {
    .about__title {
      font-size: 1.6em; } }
  @media screen and (max-width: 487px) {
    .about__title {
      -moz-transform: translate(-30px, 500px) scale(1.2);
      -o-transform: translate(-30px, 500px) scale(1.2);
      -ms-transform: translate(-30px, 500px) scale(1.2);
      -webkit-transform: translate(-30px, 500px) scale(1.2);
      transform: translate(-30px, 500px) scale(1.2); } }

.about__title-two {
  font-family: Avantgarde, sans-serif;
  font-size: 2em;
  letter-spacing: 3.5px;
  width: 200px;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
  color: #634345;
  letter-spacing: 4.2px;
  -moz-transform: translateY(500px) scale(1.5);
  -o-transform: translateY(500px) scale(1.5);
  -ms-transform: translateY(500px) scale(1.5);
  -webkit-transform: translateY(500px) scale(1.5);
  transform: translateY(500px) scale(1.5);
  text-align: center;
  width: 400px;
  opacity: 0.6; }
  @media screen and (max-width: 487px) {
    .about__title-two {
      font-size: 1.6em; } }
  @media screen and (max-width: 487px) {
    .about__title-two {
      -moz-transform: translate(-30px, 500px) scale(1.2);
      -o-transform: translate(-30px, 500px) scale(1.2);
      -ms-transform: translate(-30px, 500px) scale(1.2);
      -webkit-transform: translate(-30px, 500px) scale(1.2);
      transform: translate(-30px, 500px) scale(1.2); } }

.about__title-three {
  font-family: Avantgarde, sans-serif;
  font-size: 2em;
  letter-spacing: 3.5px;
  width: 200px;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
  color: #634345;
  letter-spacing: 4.2px;
  -moz-transform: translateY(500px) scale(1.5);
  -o-transform: translateY(500px) scale(1.5);
  -ms-transform: translateY(500px) scale(1.5);
  -webkit-transform: translateY(500px) scale(1.5);
  transform: translateY(500px) scale(1.5);
  text-align: center;
  width: 400px;
  opacity: 0.4; }
  @media screen and (max-width: 487px) {
    .about__title-three {
      font-size: 1.6em; } }
  @media screen and (max-width: 487px) {
    .about__title-three {
      -moz-transform: translate(-30px, 500px) scale(1.2);
      -o-transform: translate(-30px, 500px) scale(1.2);
      -ms-transform: translate(-30px, 500px) scale(1.2);
      -webkit-transform: translate(-30px, 500px) scale(1.2);
      transform: translate(-30px, 500px) scale(1.2); } }

.about__title-four {
  font-family: Avantgarde, sans-serif;
  font-size: 2em;
  letter-spacing: 3.5px;
  width: 200px;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
  color: #634345;
  letter-spacing: 4.2px;
  -moz-transform: translateY(500px) scale(1.5);
  -o-transform: translateY(500px) scale(1.5);
  -ms-transform: translateY(500px) scale(1.5);
  -webkit-transform: translateY(500px) scale(1.5);
  transform: translateY(500px) scale(1.5);
  text-align: center;
  width: 400px;
  opacity: 0.2; }
  @media screen and (max-width: 487px) {
    .about__title-four {
      font-size: 1.6em; } }
  @media screen and (max-width: 487px) {
    .about__title-four {
      -moz-transform: translate(-30px, 500px) scale(1.2);
      -o-transform: translate(-30px, 500px) scale(1.2);
      -ms-transform: translate(-30px, 500px) scale(1.2);
      -webkit-transform: translate(-30px, 500px) scale(1.2);
      transform: translate(-30px, 500px) scale(1.2); } }

.about__title-five {
  font-family: Avantgarde, sans-serif;
  font-size: 2em;
  letter-spacing: 3.5px;
  width: 200px;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
  color: #634345;
  letter-spacing: 4.2px;
  -moz-transform: translateY(500px) scale(1.5);
  -o-transform: translateY(500px) scale(1.5);
  -ms-transform: translateY(500px) scale(1.5);
  -webkit-transform: translateY(500px) scale(1.5);
  transform: translateY(500px) scale(1.5);
  text-align: center;
  width: 400px;
  opacity: 0.1; }
  @media screen and (max-width: 487px) {
    .about__title-five {
      font-size: 1.6em; } }
  @media screen and (max-width: 487px) {
    .about__title-five {
      -moz-transform: translate(-30px, 500px) scale(1.2);
      -o-transform: translate(-30px, 500px) scale(1.2);
      -ms-transform: translate(-30px, 500px) scale(1.2);
      -webkit-transform: translate(-30px, 500px) scale(1.2);
      transform: translate(-30px, 500px) scale(1.2); } }

.about__window-box {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 250px;
  -moz-transform: translate(-5px, -45px);
  -o-transform: translate(-5px, -45px);
  -ms-transform: translate(-5px, -45px);
  -webkit-transform: translate(-5px, -45px);
  transform: translate(-5px, -45px); }
  @media screen and (max-width: 487px) {
    .about__window-box {
      display: none; } }

.about__window-box--photo {
  width: 95px;
  z-index: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  -moz-transform: translate(5px, 390px);
  -o-transform: translate(5px, 390px);
  -ms-transform: translate(5px, 390px);
  -webkit-transform: translate(5px, 390px);
  transform: translate(5px, 390px);
  -webkit-filter: brightness(0.7) contrast(130%);
  filter: brightness(0.7) contrast(130%); }

.about__window-box--blinders {
  width: 95px;
  height: 147px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  -moz-transform: translate(-4px, 332.9px);
  -o-transform: translate(-4px, 332.9px);
  -ms-transform: translate(-4px, 332.9px);
  -webkit-transform: translate(-4px, 332.9px);
  transform: translate(-4px, 332.9px);
  list-style: none; }

.about__window-box--blinders-each {
  background-color: #D3D3D3;
  width: 103px;
  height: 26px;
  -moz-transform: translateX(-34px) rotateX(95deg);
  -o-transform: translateX(-34px) rotateX(95deg);
  -ms-transform: translateX(-34px) rotateX(95deg);
  -webkit-transform: translateX(-34px) rotateX(95deg);
  transform: translateX(-34px) rotateX(95deg);
  -moz-transform-origin: top;
  -o-transform-origin: top;
  -ms-transform-origin: top;
  -webkit-transform-origin: top;
  transform-origin: top; }

.about__profile {
  height: 300px;
  background-color: rgba(25, 15, 18, 0.8);
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  -webkit-filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2));
  width: 310px;
  -moz-transform: skew(10deg) translate(-160px, 990px);
  -o-transform: skew(10deg) translate(-160px, 990px);
  -ms-transform: skew(10deg) translate(-160px, 990px);
  -webkit-transform: skew(10deg) translate(-160px, 990px);
  transform: skew(10deg) translate(-160px, 990px); }
  @media screen and (max-width: 487px) {
    .about__profile {
      width: 220px; } }

.about__profile::before {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  -webkit-filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2));
  width: 360px;
  border-color: #634345;
  opacity: 0.7;
  border-style: solid;
  border-width: 2px;
  -moz-transform: skew(25deg) rotate(15deg) translate(-18px, 5px);
  -o-transform: skew(25deg) rotate(15deg) translate(-18px, 5px);
  -ms-transform: skew(25deg) rotate(15deg) translate(-18px, 5px);
  -webkit-transform: skew(25deg) rotate(15deg) translate(-18px, 5px);
  transform: skew(25deg) rotate(15deg) translate(-18px, 5px);
  content: '';
  height: 290px; }
  @media screen and (max-width: 487px) {
    .about__profile::before {
      width: 230px; } }
  @media screen and (max-width: 487px) {
    .about__profile::before {
      height: 230px; } }

.about__profile span {
  color: #f6f6f6;
  font-family: Avantgarde, sans-serif;
  font-size: 0.8em;
  -moz-transform: skew(-10deg);
  -o-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
  display: block;
  padding-top: 70px;
  padding-left: 50px;
  padding-right: 20px;
  line-height: 30px;
  letter-spacing: 3px; }
  @media screen and (max-width: 487px) {
    .about__profile span {
      padding-top: 20px;
      font-size: 0.7em; } }

.about__skills {
  height: 380px;
  padding: 10px;
  background-color: rgba(25, 15, 18, 0.8);
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  -webkit-filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2));
  width: 310px;
  -moz-transform: skew(10deg) translate(-160px, 1050px);
  -o-transform: skew(10deg) translate(-160px, 1050px);
  -ms-transform: skew(10deg) translate(-160px, 1050px);
  -webkit-transform: skew(10deg) translate(-160px, 1050px);
  transform: skew(10deg) translate(-160px, 1050px); }
  @media screen and (max-width: 487px) {
    .about__skills {
      width: 220px; } }

.about__skills::before {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  -webkit-filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2));
  width: 360px;
  border-color: #634345;
  opacity: 0.7;
  border-style: solid;
  border-width: 2px;
  -moz-transform: skew(-35deg) rotate(-15deg) translate(-18px, 25px);
  -o-transform: skew(-35deg) rotate(-15deg) translate(-18px, 25px);
  -ms-transform: skew(-35deg) rotate(-15deg) translate(-18px, 25px);
  -webkit-transform: skew(-35deg) rotate(-15deg) translate(-18px, 25px);
  transform: skew(-35deg) rotate(-15deg) translate(-18px, 25px);
  content: '';
  height: 290px; }
  @media screen and (max-width: 487px) {
    .about__skills::before {
      width: 230px; } }

.about__sub-one {
  color: #a88461;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  font-size: 9em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
  width: 180px;
  opacity: 0.7;
  -moz-transform: translate(-120px, 920px);
  -o-transform: translate(-120px, 920px);
  -ms-transform: translate(-120px, 920px);
  -webkit-transform: translate(-120px, 920px);
  transform: translate(-120px, 920px); }
  @media screen and (max-width: 487px) {
    .about__sub-one {
      font-size: 6.5em; } }
  @media screen and (max-width: 487px) {
    .about__sub-one {
      -moz-transform: translate(-60px, 990px);
      -o-transform: translate(-60px, 990px);
      -ms-transform: translate(-60px, 990px);
      -webkit-transform: translate(-60px, 990px);
      transform: translate(-60px, 990px); } }

.about__sub-two {
  color: #a88461;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  font-size: 9em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 1;
  width: 180px;
  opacity: 0.7;
  -moz-transform: translate(140px, 980px);
  -o-transform: translate(140px, 980px);
  -ms-transform: translate(140px, 980px);
  -webkit-transform: translate(140px, 980px);
  transform: translate(140px, 980px); }
  @media screen and (max-width: 487px) {
    .about__sub-two {
      font-size: 6.5em; } }

.skillSets {
  max-width: 70px;
  max-height: 60px;
  padding: 12px;
  -moz-transform: skew(-10deg);
  -o-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg); }
  @media screen and (max-width: 487px) {
    .skillSets {
      max-width: 62px;
      padding: 5px; } }

.about__transition {
  position: absolute;
  width: 100%;
  height: 300px;
  background-color: #7f5659;
  -moz-transform: skewY(5deg) translateY(1400px);
  -o-transform: skewY(5deg) translateY(1400px);
  -ms-transform: skewY(5deg) translateY(1400px);
  -webkit-transform: skewY(5deg) translateY(1400px);
  transform: skewY(5deg) translateY(1400px); }

.gallery {
  margin: 0;
  background-color: #7f5659;
  width: 100%;
  position: relative;
  padding-bottom: 260px; }

.gallery__title {
  color: #f6f6f6;
  font-size: 4.5em;
  opacity: 0.8;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 400px;
  -moz-transform: translate(12px, -240px);
  -o-transform: translate(12px, -240px);
  -ms-transform: translate(12px, -240px);
  -webkit-transform: translate(12px, -240px);
  transform: translate(12px, -240px);
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 487px) {
    .gallery__title {
      font-size: 3em;
      -moz-transform: translate(26px, -200px);
      -o-transform: translate(26px, -200px);
      -ms-transform: translate(26px, -200px);
      -webkit-transform: translate(26px, -200px);
      transform: translate(26px, -200px); } }

.gallery__level {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  letter-spacing: 3.5px;
  width: 200px;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  font-size: 7em;
  color: #a88461;
  -moz-transform: translate(210px, -250px);
  -o-transform: translate(210px, -250px);
  -ms-transform: translate(210px, -250px);
  -webkit-transform: translate(210px, -250px);
  transform: translate(210px, -250px); }
  @media screen and (max-width: 487px) {
    .gallery__level {
      font-size: 3.5em;
      -moz-transform: translate(180px, -190px);
      -o-transform: translate(180px, -190px);
      -ms-transform: translate(180px, -190px);
      -webkit-transform: translate(180px, -190px);
      transform: translate(180px, -190px); } }

#gallery__search {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 380px;
  -moz-transform: translateY(-28px);
  -o-transform: translateY(-28px);
  -ms-transform: translateY(-28px);
  -webkit-transform: translateY(-28px);
  transform: translateY(-28px);
  font-size: 2em;
  background-color: transparent;
  border-bottom: 1px solid rgba(246, 246, 246, 0.4);
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  font-family: Avantgarde, sans-serif;
  color: rgba(246, 246, 246, 0.4);
  padding: 15px; }
  #gallery__search:focus {
    outline: none; }
  @media screen and (max-width: 487px) {
    #gallery__search {
      width: 250px;
      font-size: 1.5em;
      padding: 5px; } }

.gallery__projects {
  list-style: none;
  font-family: Avantgarde, sans-serif;
  color: #f6f6f6;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -moz-transform: translateY(69px);
  -o-transform: translateY(69px);
  -ms-transform: translateY(69px);
  -webkit-transform: translateY(69px);
  transform: translateY(69px); }
  @media screen and (max-width: 487px) {
    .gallery__projects {
      -moz-transform: translateY(40px);
      -o-transform: translateY(40px);
      -ms-transform: translateY(40px);
      -webkit-transform: translateY(40px);
      transform: translateY(40px); } }

.gallery__projects--box {
  width: 300px;
  height: 450px;
  -webkit-box-shadow: inset 10px 10px 46px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 10px 10px 46px -4px rgba(0, 0, 0, 0.75);
  box-shadow: inset 10px 10px 46px -4px rgba(0, 0, 0, 0.75);
  display: block;
  position: relative;
  background-color: #38232a;
  -moz-transform: translateX(33px);
  -o-transform: translateX(33px);
  -ms-transform: translateX(33px);
  -webkit-transform: translateX(33px);
  transform: translateX(33px);
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out; }
  @media screen and (max-width: 487px) {
    .gallery__projects--box {
      width: 220px;
      height: 340px; } }

.gallery__projects--each::before {
  content: '';
  width: 340px;
  height: 475px;
  -webkit-box-shadow: inset 10px 10px 46px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 10px 10px 46px -4px rgba(0, 0, 0, 0.75);
  box-shadow: inset 10px 10px 46px -4px rgba(0, 0, 0, 0.75);
  display: block;
  position: absolute;
  background-color: #634345;
  -moz-transform: translateX(16px);
  -o-transform: translateX(16px);
  -ms-transform: translateX(16px);
  -webkit-transform: translateX(16px);
  transform: translateX(16px);
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out; }
  @media screen and (max-width: 487px) {
    .gallery__projects--each::before {
      width: 250px;
      height: 360px; } }

.gallery__projects--each {
  content: '';
  width: 375px;
  height: 495px;
  margin: 40px;
  -webkit-box-shadow: inset 10px 10px 46px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 10px 10px 46px -4px rgba(0, 0, 0, 0.75);
  box-shadow: inset 10px 10px 46px -4px rgba(0, 0, 0, 0.75);
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  background-color: #634345; }
  @media screen and (max-width: 487px) {
    .gallery__projects--each {
      width: 284px;
      height: 380px;
      margin-bottom: 12px;
      margin-left: 0px; } }

.gallery__projects--each::after {
  content: 'click';
  width: 301px;
  height: 394px;
  background-color: rgba(0, 0, 0, 0.77);
  opacity: 0;
  z-index: 1;
  position: absolute;
  -moz-transform: translate(33px, -394px);
  -o-transform: translate(33px, -394px);
  -ms-transform: translate(33px, -394px);
  -webkit-transform: translate(33px, -394px);
  transform: translate(33px, -394px);
  text-align: center;
  line-height: 394px;
  font-size: 4em;
  letter-spacing: 10px;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  -ms-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out; }
  @media screen and (max-width: 487px) {
    .gallery__projects--each::after {
      width: 220px;
      height: 315px;
      -moz-transform: translate(33px, -314px);
      -o-transform: translate(33px, -314px);
      -ms-transform: translate(33px, -314px);
      -webkit-transform: translate(33px, -314px);
      transform: translate(33px, -314px);
      line-height: 315px;
      font-size: 3em; } }

.gallery__projects--title {
  letter-spacing: 8px;
  font-size: 0.9em;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 70px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 20px 20px 0 0;
  text-align: center;
  -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.2), 0 20px 30px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.2), 0 20px 30px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.2), 0 20px 30px 0 rgba(0, 0, 0, 0.19);
  width: 376px;
  -moz-transform: translate(-34px, -15px);
  -o-transform: translate(-34px, -15px);
  -ms-transform: translate(-34px, -15px);
  -webkit-transform: translate(-34px, -15px);
  transform: translate(-34px, -15px);
  height: 70px;
  -webkit-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  -ms-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
  background-color: #38232a; }
  @media screen and (max-width: 487px) {
    .gallery__projects--title {
      letter-spacing: 5px;
      height: 40px;
      line-height: 40px;
      width: 286px;
      font-size: 0.8em; } }

.gallery__projects--image {
  width: 300px;
  height: auto;
  -moz-transform: translateY(-14px);
  -o-transform: translateY(-14px);
  -ms-transform: translateY(-14px);
  -webkit-transform: translateY(-14px);
  transform: translateY(-14px); }
  @media screen and (max-width: 487px) {
    .gallery__projects--image {
      width: 220px; } }

.gallery__projects--description {
  font-size: 0.8em;
  padding: 13px;
  -moz-transform: translateY(-16px);
  -o-transform: translateY(-16px);
  -ms-transform: translateY(-16px);
  -webkit-transform: translateY(-16px);
  transform: translateY(-16px);
  letter-spacing: 2px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }
  @media screen and (max-width: 487px) {
    .gallery__projects--description {
      font-size: 0.7em;
      letter-spacing: 1px; } }

.gallery__projects--link {
  text-decoration: none;
  color: #f6f6f6;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out; }
  .gallery__projects--link:hover .gallery__projects--box {
    -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.2), 0 20px 30px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.2), 0 20px 30px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.2), 0 20px 30px 0 rgba(0, 0, 0, 0.19); }
  .gallery__projects--link:hover .gallery__projects--each {
    -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.2), 0 20px 30px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.2), 0 20px 30px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.2), 0 20px 30px 0 rgba(0, 0, 0, 0.19);
    background-color: #38232a; }
  .gallery__projects--link:hover .gallery__projects--each::before {
    -webkit-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.2), 0 20px 30px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.2), 0 20px 30px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.2), 0 20px 30px 0 rgba(0, 0, 0, 0.19);
    background-color: #38232a; }
  .gallery__projects--link:hover .gallery__projects--title {
    background-color: rgba(0, 0, 0, 0.77);
    letter-spacing: 10px;
    font-size: 0.9em; }
  .gallery__projects--link:hover .gallery__projects--each::after {
    opacity: 1;
    letter-spacing: 20px; }
    @media screen and (max-width: 487px) {
      .gallery__projects--link:hover .gallery__projects--each::after {
        letter-spacing: 0px; } }

.gallery__transition {
  position: absolute;
  width: 100%;
  height: 250px;
  background-color: #634345;
  z-index: 2;
  -moz-transform: skewY(-7deg) translateY(110px);
  -o-transform: skewY(-7deg) translateY(110px);
  -ms-transform: skewY(-7deg) translateY(110px);
  -webkit-transform: skewY(-7deg) translateY(110px);
  transform: skewY(-7deg) translateY(110px); }

.contact {
  position: relative;
  background-color: #634345;
  height: 830px;
  width: 100%; }

.contact__box {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 350px;
  background-color: rgba(25, 15, 18, 0.8);
  border-width: 0.5px;
  border-style: solid;
  border-color: #D3D3D3;
  -moz-transform: translateY(290px);
  -o-transform: translateY(290px);
  -ms-transform: translateY(290px);
  -webkit-transform: translateY(290px);
  transform: translateY(290px);
  -webkit-box-shadow: inset 10px 10px 46px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 10px 10px 46px -4px rgba(0, 0, 0, 0.75);
  box-shadow: inset 10px 10px 46px -4px rgba(0, 0, 0, 0.75);
  height: 400px;
  -webkit-filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2)); }
  @media screen and (max-width: 487px) {
    .contact__box {
      width: 260px; } }

.contact__paper {
  list-style: none;
  width: 300px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  -moz-transform: translate(170px, 630px);
  -o-transform: translate(170px, 630px);
  -ms-transform: translate(170px, 630px);
  -webkit-transform: translate(170px, 630px);
  transform: translate(170px, 630px);
  z-index: 3;
  -webkit-filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2)); }

.contact__paper--total {
  width: 100px;
  height: 80px;
  background-color: #D3D3D3;
  opacity: 0.3;
  margin: -109px;
  -moz-transform: skew(60deg, -20deg);
  -o-transform: skew(60deg, -20deg);
  -ms-transform: skew(60deg, -20deg);
  -webkit-transform: skew(60deg, -20deg);
  transform: skew(60deg, -20deg); }
  @media screen and (max-width: 487px) {
    .contact__paper--total {
      width: 80px; } }

.contact__level {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  width: 200px;
  -moz-transform: translate(247px, 240px);
  -o-transform: translate(247px, 240px);
  -ms-transform: translate(247px, 240px);
  -webkit-transform: translate(247px, 240px);
  transform: translate(247px, 240px);
  color: #9b7c7f; }
  @media screen and (max-width: 487px) {
    .contact__level {
      -moz-transform: translate(227px, 240px);
      -o-transform: translate(227px, 240px);
      -ms-transform: translate(227px, 240px);
      -webkit-transform: translate(227px, 240px);
      transform: translate(227px, 240px); } }

.contact__email {
  color: #D3D3D3;
  font-family: Avantgarde, sans-serif;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 320px;
  height: 40px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
  font-size: 0.8em;
  letter-spacing: 4px;
  background-color: #634345;
  border-width: 0.5px;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  padding: 11px;
  -moz-transform: translateY(650px);
  -o-transform: translateY(650px);
  -ms-transform: translateY(650px);
  -webkit-transform: translateY(650px);
  transform: translateY(650px);
  z-index: 4;
  -webkit-filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2)); }
  @media screen and (max-width: 487px) {
    .contact__email {
      width: 300px; } }

.contact__text {
  width: 300px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 3;
  -moz-transform: translate(-80px, 8px) rotate(15deg);
  -o-transform: translate(-80px, 8px) rotate(15deg);
  -ms-transform: translate(-80px, 8px) rotate(15deg);
  -webkit-transform: translate(-80px, 8px) rotate(15deg);
  transform: translate(-80px, 8px) rotate(15deg);
  -webkit-filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2)); }

.contact__moon {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 3;
  width: 90px;
  -moz-transform: translateY(450px);
  -o-transform: translateY(450px);
  -ms-transform: translateY(450px);
  -webkit-transform: translateY(450px);
  transform: translateY(450px);
  -webkit-filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2)) brightness(0.9) contrast(130%);
  filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2)) brightness(0.9) contrast(130%);
  opacity: 0.8; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  position: relative; }

.background-ladder {
  background-image: url(../../dist/images/ladder.svg);
  height: 836px;
  width: 10px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  -moz-transform: translate(-2px, -37px);
  -o-transform: translate(-2px, -37px);
  -ms-transform: translate(-2px, -37px);
  -webkit-transform: translate(-2px, -37px);
  transform: translate(-2px, -37px);
  -webkit-filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(6px 6px 0px rgba(0, 0, 0, 0.2)); }
  @media screen and (max-width: 487px) {
    .background-ladder {
      height: 610px; } }
